{% extends 'products/layout.html' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow p-4">

            <h2 class="text-center mb-4">
                Réinitialisation du mot de passe
            </h2>

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit"
                        class="btn btn-warning w-100">

                    Envoyer
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}