{% extends 'products/layout.html' %}

{% block content %}

<div class="row">

    <div class="col-md-6">

        <img src="{{ product.image.url }}"
             class="img-fluid">

    </div>

    <div class="col-md-6">

        <h1>{{ product.name }}</h1>

        <h2 class="text-primary">
            {{ product.price }} DH
        </h2>

        <p class="mt-4">
            {{ product.description }}
        </p>

        <a href="{% url 'add_to_cart' product.id %}"
           class="btn btn-success btn-lg mt-3">

            Ajouter au panier

        </a>

    </div>

</div>

{% endblock %}